/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

.player-container {
  height: 500px;
  width: 400px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgb(0 0 0 / 0.3);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgb(0 0 0 / 0.5);
  pointer-events: none;
  user-select: none;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
  cursor: pointer;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
  position: relative;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  user-select: none;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
  user-select: none;
}

.fas {
  font-size: 30px;
  color: rgb(129, 129, 129);
  margin-right: 30px;
  cursor: pointer;
}

.fas:hover {
  filter:brightness(80%)
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Volume */
.volume-btn {
  font-size: 20px;
  position:absolute;
  left: -100px;
  top: 13px;
  transition: all 0.5s;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100px;
  height: 7px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 1s;
  transition: all 0.2s;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -110px;
  top: 20px
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:15px;
  aspect-ratio: 1;
  border-radius: 50%; 
  background: rgb(129, 129, 129);
  cursor: pointer;
  transition: all 1s;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(129, 129, 129);
  cursor: pointer;
  transition: all 1s;
}

.hide-volume-btn {
  font-size: 0px;
  transform: translateY(10px);
}

.hide-volume-slider {
  width: 0px;
  background: rgb(129, 129, 129);
  transform: translateX(20px);
}

.hide-volume-slider::-webkit-slider-thumb  {
  width: 0px;
}

.hide-volume-slider::-moz-range-thumb {
  width: 0px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {

  body:focus {
    outline: none !important;
  }

  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }

  .volume-btn {
    left: -80px;
  }

  .volume-slider {
    left: -90px;
    width: 80px;
  }
  
  .hide-volume-slider {
    width: 0px;
  }
}
